.App {
  text-align: center;

  .container {
    max-width: 80%;
    margin: auto;
    padding-top: 50px;
  }
}

#top-app-bar {
  padding: 0 50px;

  > div {
    display: flex;
    align-items: center; // vertically centered because parent's flex-direction is column.
  }
}

#top-nav-tabs {
  margin-left: auto;

  p {
    margin: 0;
  }
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.flex-row {
  display: flex;
  justify-content: center;
}

.container {
  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 30px;
  }
}