.intro-component {
  .with-tooltip {
    color: lighten($primary-text-color, 20%);
  }

  h1 {
    margin-top: 30px;
  }
}

#order-diagram-container {
  + h4 {
    margin-top: 20px;
  }
}

#order-diagram {
  margin: auto;

  &, > div {
    display: flex;
  }

  > div {
    flex-direction: column;
    justify-content: center;

    &:not(:last-child) {
      margin-right: 60px;
    }
  }
}