.with-tooltip {
  cursor: pointer;
  
  &:not(.sentence-element) {
    display: inline-block;
    border-bottom: 5px solid $primary-text-color;
  }
}

.tooltip-content {
  h1, h2 {
    font-weight: 500;
  }
}