.sentence-element-container {
  &:last-of-type {
    &::after {
      content: '.';
    }
  }
}

.sentence-element {
  &.expanded-pronoun {
    @include single-whitespace();
  }

  &.hovered, &.highlighted {
    color: $secondary-theme-color;
  }
}